<div id="<%= dom_id presentation %>" class="form" class="view-presentation">
  <p class="info">
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p class="info">
    <strong>Emails:</strong>
    <%= presentation.emails %>
  </p>

  <p class="info">
    <strong>Description:</strong>
    <%= presentation.description %>
  </p>

  <p class="info">
    <strong>Grade:</strong>
    <%= presentation.grade %>
  </p>

  <p class="info">
    <strong>Graded:</strong>
    <%= presentation.graded %>
  </p>

</div>
